In [12]:
result = 7**4
print(result)

2401

In [3]:
s="hi there sam!"


word_list=s.split()
print(word_list)

['hi', 'there', 'sam!']

In [4]:
planet="earth"
diameter="12742"
print("planet:",planet)
print("diameter:",diameter)

planet: earth
diameter: 12742

In [5]:
n=int(input("enter variable"))

lst=[]
newlst=[]
print("enter number")
for i in range(0,n):
    j =input()
    lst.append(j)
    
print(lst)

enter variable8
enter number
1
1
2
3
4
4
5
6
['1', '1', '2', '3', '4', '4', '5', '6']

In [6]:
mydict={"enrollment id" :[12345,45667,16789,69433],
     "student name" : ["diksha","jiya","rohit","heena"],
      "email id": ["dikshar@nuv.ac.in","jiya@nuv.ac.in","rohit@nuv.ac.in","heena@nuv.ac.in"] }
#mydict["enrollment id"][0]
uid=int(input("enter value"))
print(f"{'enrollment id':<15}{'student name':<15}{'email id':<25}")
for i in range(len(mydict["enrollment id"])):
    if mydict["enrollment id"][i]==uid:
        enrolid=mydict["enrollment id"][i]
        sname=mydict["student name"][i]
        emailid=mydict["email id"][i]
        print(f"{enrolid:<15}{sname:15}{emailid:25}")

enter value45667
enrollment id  student name   email id
45667          jiya           jiya@nuv.ac.in

In [7]:
data=[(12345,"Het","het@nuv.ac.in"),(67890,"sakshi","sakshi@nuv.ac.in"),
      (11111,"Vrund","vrund@nuv.ac.in"),(22222,"smit","smit@nuv.ac.in")]
mydict={"Enroll":[d[0] for d in data],"Name":[d[1] for d in data],"Email":[d[2] for d in data]}

print(mydict)

{'Enroll': [12345, 67890, 11111, 22222], 'Name': ['Het', 'sakshi', 'Vrund', 'smit'], 'Email': ['het@nuv.ac.in', 'sakshi@nuv.ac.in', 'vrund@nuv.ac.in', 'smit@nuv.ac.in']}

In [8]:
import json
fw=open("students.json","w")
jsndata=json.dumps
fw.write(jsndata)
fr=open("students.json","r")
allstudents=json.load(fr)

TypeError: write() argument must be str, not function